.Heading {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: #ffffff;
    /*background-color: rgba(255, 255, 255, 0.13);*/
    /*padding: 10px;*/
    border-radius: 15px;
    text-align: center;
    line-height: 15px;
}
#Tutorial {
    position: absolute;
    left: 50%;
    top: 6%;
    transform: translate(-50%);
    color: #ffffff;
    /*background-color: rgba(255, 255, 255, 0.13);*/
    /*padding: 10px;*/
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
}
.GivenWord {
    position: absolute;
    left: 50%;
    top: 12%;
    width: 500px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    transform: translate(-50%);
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.Selection{
    position: absolute;
    right: 5%;
    top: 6%;
}
#category{
    background-color: white;
    width: 150px;
    height: 25px;
    border-radius: 8%;
}
#categoryInfo{
    color: white;
}
.Option{
    color: #000000;
}

.Warning{
    position: absolute;
    left: 42%;
    top: 89%;
}
.WarningText{
    color: white;
}


.WordBox {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 500px;
    text-align: center;
    font-size: 30px;
    transform: translate(-50%);
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}
#InputText {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    border: 0px;
   /* color: rgb(3, 102, 28); */
    color: rgb(0, 0, 0);
    font-size: 25px;
    width: 500px;
}
.Goals {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 70%;
    background-color: rgba(255, 255, 255, 0.13);
    width: 500px;
    border-radius: 15px;
}
#Streak {
    color: white;
    font-weight: bold;
    text-align: center;
}
#CorrectAnswers {
    color: white;
    font-weight: bold;
    text-align: center;
}
#IncorrectAnswers {
    color: white;
    font-weight: bold;
    text-align: center;
}

.EBtn {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 125px;
    text-align: center;
    font-size: 30px;
    transform: translate(-50%);
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
}
#A {
    left: 46.55%;
}
#O {
   left: 53.25%;
}
#U {
    left: 39.8%;
}
#SS {
    left: 60%;
}
.ALT {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 27.8px;
    border-radius: 15px;
    color: black;
    position: absolute;
    font-weight: bold;
    width: 125px;
    height: 62.5px;
}
#AltSS {
    left: 60%;
    top: 42%;
    transform: translate(-50%);
}
#AltO {
    left: 53.25%;
    top: 42%;
    transform: translate(-50%);
}
#AltA {
    left: 46.55%;
    top: 42%;
    transform: translate(-50%);
}
#AltU {
    left: 39.8%;
    top: 42%;
    transform: translate(-50%);
}
#UpperCase {
    left: 72%;
    top: 40%;
    transform: translate(-50%);
    width: 250px;
    height: 112px;
    font-size: 35px;
}

.Submit {
    position: absolute;
    left: 50%;
    top: 60%;
    width: 500px;
    text-align: center;
    font-size: 30px;
    transform: translate(-50%);
    color: #ffffff;
    background-color: rgba(3, 102, 28, 0);
    border-radius: 15px;
}
#Submit {
    padding: 10px;
    border-radius: 15px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    width: 500px;
}
#Hint {
    padding: 10px;
    border-radius: 15px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    width: 500px;
}

.Text {
    font-family: Roboto;
}


@media screen and (max-width:1000px) {
    h1{
        font-size: 12px;
        line-height: 20px;
    }
    p{
        font-size: 10px;
        line-height: 20px;
    }
    #Tutorial{
        width: 250px;
        height: 10px;
    }
    .Heading{
        width: 275px;
        height: 10px;
    }
    .WordBox{
        top: 30%;
        width: 250px;
    }
    #InputText{
        width: 250px;
    }
    .GivenWord{
        top: 14.7%;
        width: 250px;
    }
    #GivenWord{
        font-size: 25px;
    }
    #A{
        width: 50px;
        aspect-ratio: 1/1;
        left: 43.25%;
    }
    #O{
        width: 50px;
        aspect-ratio: 1/1;
        left: 56.8%;
    }
    #U{
        width: 50px;
        aspect-ratio: 1/1;
        left: 29.7%;
    }
    #SS{
        width: 50px;
        aspect-ratio: 1/1;
        left: 71%;
    }
    .ALT{
        font-size: 12px;
        width: 50px;
        height: 50px;
    }
    #AltSS{
        left: 71%;
        top: 45%;
        transform: translate(-50%);
    }
    #AltO{
        left: 56.8%;
        top: 45%;
        transform: translate(-50%);
    }
    #AltA{
        left: 43.25%;
        top: 45%;
        transform: translate(-50%);
    }
    #AltU{
        left: 29.7%;
        top: 45%;
        transform: translate(-50%);
    }
    .Submit{
        width: 250px;
        left: 50%;
    }
    #Submit{
        width: 250px;
    }
    #Hint{
        width: 250px;
    }
    #UpperCase{
        width: 70px;
        height: 50px;
        font-size: 15px;
        left: 89%;
    }
    .Goals{
        width: 250px;
        font-size: 15px;
        top: 72%;
    }
    .Selection{
        top: 87%;
        left: 18%;
    }
    .Warning{
        left: 26%;
    }
}